body{
        background-color: rgb(25,25,25);
        color: white;
        font-family: Arial;
      }
      .title{
        font-size: 30px;
        font-weight: bold;
      }
      .emo{
        height: 50px;
      }
      .emoButt{
        background-color: transparent;
        border: 3px solid white;
        width: 120px;
        height: 120px;
        border-radius: 60px;
        margin-right: 10px;
        margin-bottom: 20px;
        cursor: pointer;
      }

      .result{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 40px;
      }
      .scor{
        margin-top: 50px;
      }
      .reset{
        background-color: white;
        border: none;
        font-size: 15px;
        padding: 8px 15px;
        cursor: pointer;
      }
